{% extends "base.html.twig" %}

{% block title %}
    Kapcsolat oldal
{% endblock %}

{% block body %}
    <h1>{{ welcomeMessage }}</h1>
    <h2>{{ contactMessage }}</h2>

    <button id="contact-btn" type="button" class="btn btn-success mt-5" >Kapcsolat</button>
{% endblock %}